* {
	margin: 5px; 
	padding: 0; 
	box-sizing: border-box;
}

body{
	font: 14px helvetica, arial; 
	width: 100%;
	overflow: scroll;
}

form{
	background-color: #000; 
	padding: 3px; 
	position: fixed; 
	bottom: 0;
	width: 100%;
}

form input{
	border: 0;
	padding: 10px; 
	width: 90%;
	margin-right: 0.5% 
}

form button { 
	width: 5%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 5px; 
}

p{
	margin: 0;
	margin-top: 15px;
	margin-left: 15px;
	border-bottom: 3px solid black;
	font: 14px helvetica, arial;
	height: 19px;
}

	#welcome {
		margin-left: -1px;
		height: 30px;
	}
    #messages { 
    	list-style-type: none; 
    	overflow-y: scroll;
    	margin: 0; 
    	padding: 0; 
    	margin-bottom: 60px;
    }
    #messages li { 
    	padding: 5px 10px; 
    	overflow-y: scroll; /* this should make it autoscroll no? */
    	clear:both;
    }
    #messages li:nth-child(odd) { 
    	background: #eee;
    	overflow-y: scroll; 
    }